body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
    margin: none;
    background: #333333;
    font-family:Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0em;
}

input[type='text'] {
    outline: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}
input[type='text']:focus {
    //border-bottom: 2px solid rgb(75, 75, 75);
}
input[type='text']::placeholder {
    color: #333333;
    font-weight: lighter;
    //border: 1px solid yellow;
}

input[type='button'] {
    outline: none;
    width: 95%;
    height: 100%;
    border-radius: 1.5em;
    font-size: 1em;
    font-weight: bold;
    border: none;
    padding: .5em;
    margin: .1em;
}

input[type='button']:hover {
    border-bottom: 8px solid rgba($color: black, $alpha: .3);
    border-right: 2px solid rgba($color: black, $alpha: .3);
    //box-shadow: x, y, blur, spread 
    box-shadow: 0px 4px 4px 2px rgba($color: #000000, $alpha: .15);
    cursor: pointer;
}

input[type='button']:active {
    border-bottom: 1px solid rgba($color: black, $alpha: .3);
    border-right: 0px solid rgba($color: black, $alpha: .3);
    //box-shadow: x, y, blur, spread 
    box-shadow: 0px 2px 4px 1px rgba($color: #000000, $alpha: .1);
    cursor: pointer;
}
input[type='button']:focus {
    outline: 1px solid rgb(255, 190, 49);
}

#calc-top-row {
    td {
        input {
            //background-color: rgb(199, 199, 199);
        }
    }
}

.page-container {
    display: flex;
    flex: auto;
    justify-content: center;
}

// ✏️ text styles -----------------------------------

h1 {
    color: coral;
    font-size: 3em;
    line-height: 1em;
    margin-bottom: .25em;
}

h4 {
    color: #fafafa;
    font-size: 1.5em;
}

p {
    color: #fafafa;
}

//left column with the text -----------------------------------

.description-left {
    display: flex;
    flex: auto;
    align-content:space-between;
    padding: 2em;
    height: 100%;

}

.container {

}




//🍎 calculator styles

.calcTable {
    width: 100%;
    height: 40%;
    border-radius: .5em 0em;
    border-top: 2px solid #333333;
    border-right: 2px solid rgb(54, 54, 54);
    table-layout: fixed;
    padding: .5em .5em;
    //display: flex;
    //align-content: flex-start;
    input {
        border-bottom: 8px solid rgba($color: black, $alpha: .3);
        border-right: 2px solid rgba($color: black, $alpha: .3);
        
        //box-shadow: x, y, blur, spread 
        box-shadow: 0px 2px 4px 1px rgba($color: #000000, $alpha: .1);
    }
}

.calcContainer {
    font-size: 2em;
    margin: .5em;
    background-color: rgb(46, 46, 46);
    background-image: linear-gradient(rgb(46, 46, 46), rgb(43, 43, 43));
    border-radius: .8em;
    border-bottom: 20px solid rgb(32, 32, 32);
    border-right: 5px solid rgb(39, 39, 39);
    border-top: 1px solid #555555;
    max-width: 12em;
    min-width: 10em;
    box-shadow: -.5em .75em 1.5em .1em rgba($color: black, $alpha: .35);

    tr {
        justify-content: space-between;
        width: 100%;
        
        //display: flex;
        //flex: auto;
        //flex-direction:inherit;
        td {
            
            //display: flex;
            //flex-grow: 100%;

            //flex-direction: column;
            //width: auto;
            
        }
    }
}

.num-screen-container {
    display: flex;
    flex-direction:column;
}

.num-screen-mini {
    height: auto;
    margin-bottom: 0px;
    border: none;
    border-right: 1px solid #555555;
    background-image: linear-gradient(rgb(31, 31, 31), rgb(31, 31, 31));
    //background-color: rgb(27, 27, 27);
    color:  grey;
    text-shadow: 0px 0px 5px rgba(208, 208, 208, 0.3);
    padding: 1em 1.5em;
    //border-radius: .5em .5em 0em 0em ;
    font-size: .5em;
    text-align: right;
    font-weight: lighter;
}

.num-screen {
    height: auto;
    border-bottom: 0px;
    margin-bottom: -.1rem;
    //border: none;
    border-right: 1px solid #555555;
    background-image: linear-gradient(rgb(24, 24, 24), rgb(31, 31, 31));
    //background-color: rgb(27, 27, 27);
    color: coral;
    text-shadow: 0px 0px 10px rgba(216, 137, 109, 0.4);
    padding: 1em .5em 0em 0em;
    border-radius: .5em .5em 0em 0em ;
    font-size: 1.25em;
    text-align: right;
    font-weight: lighter;
}

// ---------- getting rid of the styling on the placeholder text

.num-screen::placeholder {
    text-shadow: none;
}

.num-btn {
    color: #e6e6e6;
    background-color: rgb(75, 75, 75);
}
.num-btn:hover {
    color: #e6e6e6;
    background-color: rgb(65, 65, 65);
}


.num-btn-med {
    color: #e6e6e6;
    background-color: rgb(75, 75, 75);
}
.num-btn-med:hover {
    color: #4e4e4e;
    background-color: rgb(65, 65, 65);
}


.function-btn {
    background-color: rgb(255, 190, 49);
}
.function-btn:hover {
    background-color: rgb(241, 170, 14);
}
.function-btn:active {
}

.function-btn-lrg{
    background-color: coral;
}
.function-btn-lrg:hover {
    background-color: rgb(250, 112, 62);
}


.special-btn {
    color: #acacac;
    background-color: rgb(51, 51, 51);
}
.special-btn:hover {
    background-color: rgb(44, 44, 44);
    
}
.special-btn:active {
}